@import '../../../../../assets/styles/dimensions.scss';
@import '../../../../../assets/styles/colors.scss';

.tabContainer {
  .locationInputsWrapper {
    margin-left: $mobile-padding;

    .locationInputsContainer {
      text-align: right;
      width: fit-content;

      .pickUpPointWrapper {
        margin-top: 8px;
      }
    }
  }

  .title {
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    margin-top: $mobile-padding;
    margin-left: $mobile-padding;
  }

  .mapWrapper {
    margin: 8px $mobile-padding 0 $mobile-padding;
    box-sizing: border-box;
    height: calc(100vh - 290px);
  }
}

@media (min-width: 768px) {
  .tabContainer {
    .locationInputsWrapper {
      margin: 0;

      .locationInputsContainer {
        .pickUpPointWrapper {
          margin-top: 8px;
        }
      }
    }

    .title {
      margin-left: 0;
      margin-top: $tablet-padding;
    }

    .mapWrapper {
      // if width 100% scrollbars on 1px are appeared and i don't know why
      width: 99.9%;
      margin-left: 0;
      margin-right: 0;
      height: 50vh;
    }
  }
}

@media (min-width: 1024px) {
  .tabContainer {
    flex-grow: 1;

    .mapWrapper {
      max-height: 352px;
    }
  }
}
