@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/dimensions.scss';
@import '../../../assets/styles/mixins.scss';

.pageContainer {
  display: grid;
  grid-template-rows: auto 1fr 72px;
  height: 100vh;
}

.footer {
  padding: $mobile-padding;
  background-color: #151b1f;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .phone {
    font-size: 13px;
    color: $main-accent;
    text-decoration: none;

    &:hover {
      color: $gray-light;
    }

    &:active {
      color: white;
    }
  }

  .companyInfo {
    font-size: 13px;
    color: $gray-light;
    margin-top: 8px;
  }
}

.promoHeader {
  text-align: left;
  margin-top: 60px;

  .title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0px;
    padding: 0 $mobile-padding;
  }

  .subtitle {
    font-size: 32px;
    font-weight: 700;
    color: $main-accent;
    padding: 0 $mobile-padding;
  }

  .text {
    font-size: 18px;
    font-weight: 300;
    color: $gray-dark;
    padding: $mobile-padding;
  }

  .actionWrapper {
    margin-top: $mobile-padding;
  }
}

@media (min-width: 768px) {
  .main {
    display: flex;
    align-items: center;
  }
  .promoHeader {
    padding: $tablet-padding;
    margin-top: 0;

    .title {
      font-size: 70px;
      padding: 0;
    }

    .subtitle {
      font-size: 70px;
      padding: 0;
    }

    .text {
      font-size: 26px;
      margin-top: 34px;
      padding: 0;
    }

    .actionWrapper {
      margin-top: 60px;
    }
  }

  .footer {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 18px $tablet-padding 38px $tablet-padding;

    .phone {
      color: $main-black;

      &:hover,
      &:active {
        color: $main-accent;
      }
    }

    .companyInfo {
      color: $gray-dark;
    }
  }
}

@media (min-width: 1024px) {
  .pageContainer {
    grid-template-rows: auto 1fr 72px;
    grid-template-columns: $desktop-min-main-width 1fr;
    grid-template-areas:
      'header slider'
      'main slider'
      'footer slider';
  }

  .promoHeader {
    grid-area: main;
  }

  .footer {
    grid-area: footer;
  }
}

@media (min-width: 1440px) {
  .pageContainer {
    grid-template-columns: $desktop-main-width 1fr;
  }
  .promoHeader,
  .footer {
    padding-left: $desktop-padding;
    padding-right: $desktop-padding;
  }
}
