@import "../../assets/styles/colors.scss";

.language {
  font-size: 13px;
  width: 48px;
  height: 48px;
  color: $main-accent;
  border-radius: 48px;
  border: 1px solid transparent;
  background-color: transparent;

  &:hover {
    border-color: $gray-light;
    color: $gray-light;
  }

  &:active {
    color: $main-accent;
  }
}
