@import '../../../../../assets/styles/colors.scss';

.linkContainer {
  display: inline-block;
  position: relative;

  .disabler {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .navlink {
    position: relative;
    color: $gray-dark;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    z-index: -2;

    &.accessible {
      color: $main-black;
      z-index: 0;
    }

    &.active {
      color: $main-accent;
      z-index: 0;
    }
  }
}
