@import '../../../assets/styles/colors.scss';

.label {
  font-weight: 300;
  font-size: 14px;
}

.inputContainer {
  position: relative;
  display: inline-block;
  margin-left: 8px;

  .input {
    width: 188px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid $gray-dark;
    padding: 1px 8px;
    outline: none;

    &:focus {
      margin-bottom: -1px;
      border-bottom: 2px solid $main-accent;
    }

    &::-webkit-search-cancel-button {
      appearance: none;
      cursor:pointer;
      width: 8px;
      height: 8px;
      background-image: url('../../../assets/icons/InputClear.svg');
    }
  }

  .searchItemsContainer {
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid $gray-light;
    width: 100%;
    min-height: 20px;
    max-height: 106px;
    overflow-y: scroll;

    .searchItem {
      cursor: pointer;
      padding: 8px;
      text-align: left;
      color: $gray-dark;
      font-size: 14px;
      font-weight: 300;

      &:hover {
        color: $main-accent;
      }
    }
  }
}
