@import "../../assets/styles/colors.scss";
@import "../../assets/styles/dimensions.scss";

.sidebar {
  display: none;
  height: 100vh;
  background-color: #151b1f;
}

@media (min-width: 768px) {
  .sidebar {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 29px 0 20.5px 0;
    width: $tablet-sidebar-width;

    .menuButton {
      width: 42.23px;
    }
  }
}

@media (min-width: 1024px) {
  .sidebar {
    width: $desktop-sidebar-width;

    .menuButton {
      width: 32px;
    }
  }
}
