@import './colors.scss';

@mixin button-states {
  &:hover {
    filter: brightness(90%);
  }

  &:active {
    filter: brightness(80%);
  }

  &:disabled {
    background: $gray-light;
    filter: brightness(100%);
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: $gray-light;

    &-thumb {
      background: $gray-dark;
      height: 30px;
      border-radius: 5px;
    }
  }
}
